<div class="row">
  <div class="col-4">&nbsp;</div>
  <div class="col-4">
    <h1>Carga de productos</h1>
    <form method="post" action="/productos">
      <div class="mb-3">
        <label for="title" class="form-label">Título del Producto</label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="title"
          placeholder="Escriba el título del producto"
        />
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Precio del Producto</label>
        <input
          type="text"
          class="form-control"
          id="price"
          name="price"
          placeholder="Escriba el precio del producto"
        />
      </div>
      <div class="mb-3">
        <label for="url" class="form-label">Imagen del Producto</label>
        <input
          type="text"
          class="form-control"
          id="url"
          name="url"
          placeholder="Escriba la url a la imagen del producto"
        />
      </div>
      <button type="submit" class="btn btn-primary">Agregar Producto</button>
    </form>
    <br />
    <h1>Productos</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Título</th>
          <th scope="col">Precio</th>
          <th scope="col">Imagen</th>
        </tr>
      </thead>
      <tbody id="tbody-productos">
      </tbody>
    </table>
    <br />
    <form method="post" action="/chat">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Escriba su email"
        />
      </div>
      <div class="mb-3">
        <label for="mensaje" class="form-label">Mensaje</label>
        <input
          type="text"
          class="form-control"
          id="mensaje"
          name="mensaje"
          placeholder="Escriba un mensaje"
        />
      </div>
      <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
    </form>
    <br />
    <h1>Chat</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Email</th>
          <th scope="col">Mensaje</th>
        </tr>
      </thead>
      <tbody id="tbody-chat">
      </tbody>
    </table>
  </div>
  <div class="col-4">&nbsp;</div>
</div>