<div class="row">
  <div class="col-4">&nbsp;</div>
  <div class="col-4">
    {{#if productos}}
      <h1>Productos</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Título</th>
            <th scope="col">Precio</th>
            <th scope="col">Imagen</th>
          </tr>
        </thead>
        <tbody>
          {{#each productos}}
            <tr>
              <td>{{title}}</td>
              <td>{{price}}</td>
              <td><img
                  src="{{url}}"
                  alt="Imagen Producto"
                  class="img-thumbnail"
                /></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <h1>No hay productos</h1>
    {{/if}}
  </div>

  <div class="col-4">&nbsp;</div>
</div>