	
<%- include('./layouts/preBody') -%>

<div class="row">
  <div class="col-4">&nbsp;</div>
  <div class="col-4">
    <h1>Carga de productos</h1>
    <form method="post" action="/productos">
      <div class="mb-3">
        <label for="title" class="form-label">Título del Producto</label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="title"
          placeholder="Escriba el título del producto"
        />
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Precio del Producto</label>
        <input
          type="text"
          class="form-control"
          id="price"
          name="price"
          placeholder="Escriba el precio del producto"
        />
      </div>
      <div class="mb-3">
        <label for="url" class="form-label">Imagen del Producto</label>
        <input
          type="text"
          class="form-control"
          id="url"
          name="url"
          placeholder="Escriba la url a la imagen del producto"
        />
      </div>
      <button type="submit" class="btn btn-primary">Agregar Producto</button>
    </form>
  </div>
  <div class="col-4">&nbsp;</div>
</div>

<%- include('./layouts/postBody') -%>